<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<title>Angular JS</title>

	<!-- LOAD JS FILES -->
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
	<!-- END OF JS FILES -->

	<!-- LOAD CSS FILES -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!-- END OF CSS FILES -->

</head>
<body>

<div class="container col-md-6 col-md-offset-3 well offset-top">
<h3 class="col-md-offset-3 highlighter-text">Angular JS App</h3>
		<input type="text" placeholder="Search For a Person" ng-model="query" class="form-control">
		<hr class="hr-divider-top">
		<div ng-controller = "AuthorController">
			<ul>
				
				<li ng-repeat="person in persons |filter:query" class="pointer" title="Click to view {{person.name}}'s Bio">
					 <h4> {{person.name}} </h4>
					 <p> {{ person.title + ', '+ person.company }} </p>
					 <hr class="hr-divider">
				</li>

			</ul>
		</div>

</div>

</body>
</html>